<nav>
  <h1>Konnichiwa.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A student to game development who is always looking for free time to spend on his projects.</p>
    <p>
      <!-- Edit me in <code>_includes/sidebar.html</code>, can put links here later if needed -->
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
