<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.theme.name }} - {{ page.title }}</title>
  <script src="https://use.fontawesome.com/d81af6a4af.js"></script>
  <meta name="author" content="{{ site.data.theme.name }}" />
  <meta name="description" content="The blog of {{ site.data.theme.name }}" />

  <meta name="theme-color" content="{{ site.data.theme.browser_theme_color }}">
  <!-- Windows Phone -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="{{ site.data.theme.browser_theme_color }}">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="{{ site.data.theme.browser_theme_color }}">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ site.data.theme.browser_theme_color }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />
    
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      // Target your .container, .wrapper, .post, etc.
      $(".content").fitVids();
    });
  </script>

  {% if site.data.theme.dark_theme %}
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all_dark.css">
  {% else %}
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all_light.css">
  {% endif %}

  
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {% if site.data.theme.show_twitchtv_player %}

      {% endif %}
        <!-- Here the twitch.tv player will be embedded inside it's own div class -->
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
